# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build/
.idea/
.gdb_history
.DS_Store
release/
*.tar.gz
img/bg_previews/
img/bg_cute_preview.png
img/bg_pink_preview.png
img/embedded_logo_decoded.png
img/embedded_logo_decoded_2x.png
img/logo_custom_preview.png
img/logo_custom_preview_2x.png
